<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbweb?characterencoding=utf8</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="com/javaweb/model/TbUsers.hbm.xml"/>
    <mapping resource="com/javaweb/model/TbNewsCategory.hbm.xml"/>
    <mapping resource="com/javaweb/model/TbFkUserRole.hbm.xml"/>
    <mapping resource="com/javaweb/model/TbMedia.hbm.xml"/>
    <mapping resource="com/javaweb/model/TbFeedback.hbm.xml"/>
    <mapping resource="com/javaweb/model/TbPages.hbm.xml"/>
    <mapping resource="com/javaweb/model/TbHtmlcontent.hbm.xml"/>
    <mapping resource="com/javaweb/model/TbWebinfo.hbm.xml"/>
    <mapping resource="com/javaweb/model/TbFkNewsCategory.hbm.xml"/>
    <mapping resource="com/javaweb/model/TbFkProductCategory.hbm.xml"/>
    <mapping resource="com/javaweb/model/TbNews.hbm.xml"/>
    <mapping resource="com/javaweb/model/TbRoles.hbm.xml"/>
    <mapping resource="com/javaweb/model/TbProduct.hbm.xml"/>
    <mapping resource="com/javaweb/model/TbProductCategory.hbm.xml"/>
    <mapping resource="com/javaweb/model/TbMenu.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
